<div class="newOrders">
  <div id="map"></div>
  <ol>
    <li class="singleOrder" ng-repeat="order in userRecord.history">
      <p class="name">{{order.firstName}} {{order.lastName}}</p>
      <p class="phone">{{order.phone}}</p>
      <p class="email">{{order.email}}</p>
      <p class="address">{{order.street}}</p>
      <p class="address">{{order.city}}, {{order.state}}</p>
      <p class="zip">{{order.zip}}</p>
      <p class="laundry">{{order.laundry}}</p>
      <p class="date">{{order.date}}</p>
    </li>
  </ol>
</div>